<div class="contacts clearfix">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="images/logo.jpg" alt="" class="logo-img">
        <ul class="telephones">
            <li>Отдел продаж: 8(920) 922-01-83</li>
            <li>Кредитный менеджер: 8(920) 620-83-23</li>
            <li>Отдел продажи запчастей: 8(920) 922-02-72</li>
            <li>Легковой автосервис: 8(920) 909-88-12</li>
            <li>Мойка, шиномонтаж: 8(920) 919-77-12</li>
            <li>Грузовой сервис: 8(920) 947-75-55</li>
            <li>Специалист по каркасам: 8(920) 907-85-75</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-12">
        <div id="map"></div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <p><strong>Филиал "Никтид" центральный офис</strong><br>г. Владимир, ул. Лакина, 1б<br>+7 (4922) 37-70-50</p>
        <p><strong>Филиал "Юрьевец"</strong><br>г. Владимир, мкр. Юрьевец, ул. Ноябрьская д.141<br>+7 (4922) 37-36-71</p>
        <p><strong>Филиал "Объездная"</strong><br>17 км, Южного обхода г. Владимир (из Москвы)<br>+7 (4922) 37-36-70</p>
        <p><strong>Филиал "Ковров"</strong><br>246 км. трассы М7 "Волга" Владимирская обл. д. Сенинские дворики<br>+7 (920) 905-25-55</p>
        <p><strong>Филиал "Муром"</strong><br>г. Муром, Меленковское шоссе, 21 б<br>+7 (920) 925-47-47</p>
    </div>
</div>
<footer class="footer">
    <span>2014г. ООО “Шина-сервис” Все права защищены<br>Копирование материалов с сайта без согласия правообладателей запрещено.</span>
</footer>
</div>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="js/main.js"></script>