<header class="header clearfix">
    <a href="" class="logo"><img src="images/logo.jpg" alt=""></a>
    <div class="search-section">
        <div class="phone">
            <span>Телефон: (4922) 37-70-50</span>
        </div>
        <div class="feedback">
            <a href="">Бесплатный звонок</a>
            <a href="">Написать письмо</a>
            <a href="">Варианты доставки</a>
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="поиск по сайту">
        </div>
    </div>
    <div class="user-section">
        <h4>Иванов Иван Иванович</h4>
        <a href="">Баланс: 14500 руб.</a>
        <a href="">Товаров: 4, сумма: 9800 руб.</a>
    </div>
</header>
<nav class="nav-top">
    <ul id="menu">
        <li><a href="">Легковые шины</a></li>
        <li><a href="">Грузовые шины</a></li>
        <li><a href="">Крупногабаритные</a></li>
        <li><a href="">Мотошины</a></li>
        <li><a href="">Сельскохозяйственные</a></li>
        <li><a href="">Сервис</a></li>
        <li><a href="">Гарантии</a></li>
        <li><a href="">О нас</a></li>
        <li><a href="">Контакты</a></li>
    </ul>
    <div class="sandwich"></div>
</nav>